
@imgRoot:       "http://img.atlastory.com/company";

@font-face {
  font-family: 'Bebas Neue';
  src:  url('@{imgRoot}/BebasNeue-webfont.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

@bigFont: "Bebas Neue", Helvetica, sans-serif;
@niceFont: "Open Sans", Helvetica, sans-serif;

@navHeight: 41px;
@footerHeight: 90px;

body {
    padding-top: @navHeight;
    font-family: @niceFont;
}

html, body {
    height: 100%;
    .box-sizing(border-box);
}

#error_explanation {
    color: @red;
}

.alert .notice {
    background-color: @yellow;
}

.landing-hero {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 500px;
    margin-top: -@navHeight;
    margin-bottom: 35px;
    overflow: hidden;
    background-color: @black;

    img {
        position: relative;
        z-index: 20;
        left: 50%;
        width: 1600px;
        margin-top: -40px;
        margin-left: -800px;
    }

    .inner {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 40;
        padding-top: 150px;
        text-shadow: 0 0 15px rgba(0,0,0,0.6), 0 -1px 1px rgba(0,0,0,0.6)
    }

    .center {
        text-align: center;
        margin: 0 auto;
        max-width: 550px;
    }

    h1 {
        color: @white;
        font-family: @bigFont;
        font-size: 55px;
    }

    h2 {
        color: @white;
        font-size: 20px;
        line-height: 1.5em;
        margin-bottom: 25px;
    }
}

.page-hero {
    @heroHeight: 160px;

    position: relative;
    z-index: 1;
    width: 100%;
    height: @heroHeight;
    margin-bottom: 35px;
    overflow: hidden;
    background-color: @black;

    img {
        position: relative;
        z-index: 20;
        left: 50%;
        width: 1600px;
        margin-top: -450px;
        margin-left: -800px;
    }
    .inner {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 40;
        margin-top: @heroHeight/4;
        background-color: rgba(0,0,0,0.6);
        padding: 10px 0;
        text-shadow: 0 0 15px rgba(0,0,0,0.7), 0 -1px 3px rgba(0,0,0,0.9)
    }
    h1 {
        text-align: center;
        color: @white;
        font-size: 50px;
    }
}

.main {
    clear: both;
    padding-bottom: @footerHeight;
    min-height: 100%;
    height: auto !important;
    margin-bottom: -@footerHeight;
    .box-sizing(border-box);
    #footer {
        height: @footerHeight;
    }
}

h1 {
    font-family: @niceFont;
    font-weight: normal;
}

.band {
    margin-top: 35px;
}

.process {
    img {
        width: 100%;
    }
    h3 {
        text-align: center;
        font-family: @niceFont;
        font-weight: normal;
    }
}

.samples {
    padding: 35px 0;
    background-color: @grayLighter;
    h1 {
        margin-bottom: 25px;
        text-align: center;
    }

    @boxMargin: 10px;
    .project {
        float: left;
        width: 24%;
        margin: 0 1% @boxMargin 0;
        .box-sizing(border-box);
        padding: @boxMargin;
        border: 1px solid @grayLight;
        img {
            float: left;
            width: 100%;
        }
    }
}

.new_project {
    textarea {
        width: 100%;
        height: 300px;
    }
    .field {
        margin-right: 20px;
        input {width: 100%;}
    }

}

textarea {
    height: 100px;
}

.projects {
    margin: 0 auto;
    width: 60%;

    .title { font-size: 25px; }
    .desc { font-size: 18px; }
    .pull-left {
        width: 50%;
    }
    a.project {
        display: block;
        color: @grayDarker;
        width: 100%;
        border: 1px solid @grayLighter;
        margin: 15px 0;
        padding: 15px;
        .clearfix();
        .box-sizing(border-box);
        .border-radius(5px);
        &:hover {
            text-decoration: none;
            background-color: lighten(@green, 35%)
        }
    }
}

.dashboard {
    margin-top: 20px;
}

.footer {
    position: relative;
    clear: both;
    height: @footerHeight;
    .box-sizing(border-box);
    background-color: @gray;
    color: @white;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.9);
    padding: 35px 0;
    margin-top: -@navHeight;
}
